{% extends 'store/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        {% if messages %}
            {% for m in messages %}
                <div class="alert alert-{{m.tags}}">{{m}}</div>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    LogIn
                </legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Login
                </button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an Account?
                    <a href="{% url 'register' %}" class="ml-2">Register here</a>
            </small>
        </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Forgot Password?
                    <a href="{% url 'reset_password' %}" class="ml-2">Reset Password</a>
            </small>
        </div>
    </div>
{% endblock content %}


